@model PayEditViewModel

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Pay" asp-action="Index">Pay List</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">New Pay</li>
                </ol>
            </nav><br />
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="EmployeeId"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="EmployeeId"  placeholder="Enter EmployeeId" />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="DatePay"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="date" class="form-control"  asp-for="DatePay" />
                        <span asp-validation-for="DatePay" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="TaxCode"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="TaxCode"  placeholder="Enter TaxCode" />
                        <span asp-validation-for="TaxCode" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="SLC"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="SLC"  placeholder="Enter SLC" />
                        <span asp-validation-for="SLC"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="HourlyRate"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="HourlyRate"  placeholder="Enter HourlyRate" />
                        <span asp-validation-for="HourlyRate" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="HourWorked"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="HourWorked" placeholder="Enter HourWorked" />
                        <span asp-validation-for="HourWorked" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="ContractualHours"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="ContractualHours"  placeholder="Enter ContractualHours" />
                        <span asp-validation-for="ContractualHours" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="UnionFee"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="UnionFee"  placeholder="Enter UnionFee" />
                        <span asp-validation-for="UnionFee" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-rounded float-left" style="margin-right:auto.7em">Submit</button>
                    <a asp-controller="Pay" asp-action="Index" class="btn btn-primary btn-rounded float-right" style="margin-right:auto.7em">Cancel</a>
                    <br />
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_validationScriptsPartial");
    }
    }